<div class="container mt-4">
  <h2 id="todos" class="mb-4">TODOs</h2>
  <div class="row">

        @for (colType of colTypes; track colType.type ){
            <div class="col-md-6">
                
            @if(colType.type === 'Completed'){
                <h4><i class="bi bi-check-circle-fill text-success"></i> {{ colType.type }}</h4>
            }
            @else {
                <h4><i class="spinner-border text-warning" role="status"></i> {{ colType.type }}</h4>
            }
                <app-tasks [colType]="colType.type"/>
            </div>    
        }

  </div>
</div>