.hidden {
    visibility: hidden;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .bi-trash {
    color: #dc3545;
    font-size: 1.25rem; 
  }
  
  .bi-check-circle-fill{
    color: #198754
    ;
  }
  